body {
    padding-top: 40px;
}

.formtext {
	width: 1000px;
	background-color:#b0c4de;
	color:#00ff00;
	padding-left:50px;
}

.profileh {
	font-size:1.5em;
	font-weight:bold;
	color: 	#B80000;
	padding-right: 1px;
}

.profilel {
	padding-bottom: 3px;
}

.loginimg::before {
   	content: " Sopimushallinta ";
   	position: absolute;
   	width: 500px;
   	height: 2500px;
   	z-index: -1;
  	  	background: url('images/contract.jpg') no-repeat;
  	 background-size: 500px 250px;
}

.loginimg {
  	position: relative; 
   	background-color: transparent;
}

.error-msg {
	background-color: yellow;
}

.bs-search {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
}

.bs-search:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Rajaa listaa";
}

